# CMake build
/build/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile

# CMake project files
CMakeLists.txt.user
*.pro
*.pro.user

# SFML submodule build (jeśli występuje)
external/SFML/build/

# CLion / JetBrains IDE
.idea/
*.iml

# Windows system files
.DS_Store
Thumbs.db
desktop.ini

# Wygenerowane pliki wykonywalne
*.exe
*.out
*.app

# Backup / log / inne tymczasowe
*.log
*.tmp
